daemonize		false
username		nobody
log-filename		-

# omit listen-hosts directive to bind to all local addresses
listen-hosts            127.0.0.1
listen-port		9000

forward-host		localhost
forward-port		9001
forward-percentage	100

max-connections		200
window-size-kbytes	4096
timeout-seconds		30
max-memory-mbytes	1024
